body {
  font-family: 'Poppins', sans-serif;
  background: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  background: #0f172a;
  padding: 15px 0;
}

.navbar-brand {
  font-weight: 600;
  color: #38bdf8 !important;
}

.nav-link {
  color: #cbd5e1 !important;
  margin-left: 15px;
}

/* Hero */
.hero {
  padding: 150px 0;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.highlight {
  color: #38bdf8;
}

.typing {
  color: #38bdf8;
  margin-top: 10px;
}

/* Sections */
.section {
  padding: 100px 0;
}

.dark {
  background: #111827;
}

/* Button */
.btn-main {
  background: #38bdf8;
  padding: 10px 25px;
  border-radius: 30px;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

/* Skills */
.skill {
  margin: 20px 0;
}

.bar {
  background: #1e293b;
  height: 8px;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  background: #38bdf8;
  height: 100%;
}

/* Project */
.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}
